body {
    margin: 0;
    padding: 0;
    height: 100vh;  /*viewport height*/
    display: grid;
    font-family: Arial;
    background-color: rgba(195, 195, 195, 0.84);
    flex-wrap: wrap;
    grid-template: .125fr .5fr 1fr 1fr 1fr 1fr 1fr .125fr / .125fr 1fr 1fr 1fr 1fr .125fr;
}

#title {
    display: grid;
    grid-area: 2 / 2 / 2 / 6;
    text-align: center;
    border-style: dashed;
}

#searchResults {
    display: grid;
    grid-area: 3 / 2 / 8 / 2;
    border-style: dashed;
}

img {
    object-fit: contain;
    justify-self: center;
    align-self: center;    
    height: 90%;
}

#searchForm {
    display: grid;
    grid-area: 3 / 3 / 4 / 3;
    border-style: dashed;
    text-align: center;
    font-size: 3vh;
}
input{
    font-size: 2vh;
}
li {
    margin-bottom: 2vh;
    font-size: 2vh;
}

#bookTitle {
    font-weight: bold;
}

#thumbnail {
    display: grid;
    grid-area: 4 / 3 / 6 / 3;
    border-style: dashed;
}

#bookInformation {
    display: grid;
    grid-area: 6 / 3 / 7 / 3;
    border-style: dashed;
}

#addForm {
    display: grid;
    grid-area: 7 / 3 / 8 / 3 ;
    border-style: dashed;
}

ul {
    display: flex;
    flex-direction: column;


}


