body {
    margin: 0;
    padding: 0;
    height: 100vh;  /*viewport height*/
    display: grid;
    font-family: Arial;
    background-color:rgb(221, 215, 215);
    grid-template: .5fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr .125fr / .0625fr 1fr 1fr .0625fr;
}



#title {
    display: grid;
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}

#navMenu {
    display: grid;
    grid-area: 2 / 2 / 3 / 4;
    background-color: rgba(54, 96, 131, 0.514);
}

#navBlock{
    display: flex;
    justify-content: space-around;
}

.navButton {
    font-size: 2.5vh;
    font-weight: bold;
}

#bookSearchMenu{
    display: grid;
    grid-area: 3 / 2 / 9 / 4;
    margin: 0;

}

#searchResults {
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
}

img {
    object-fit: contain;
    justify-self: center;
    align-self: center;    
    height: 90%;
}

#searchForm {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    font-size: 3vh;
}
input{
    font-size: 2vh;
}


ul{
    align-self: flex-start;
    padding: 0;
}
li {
    margin-bottom: 2vh;
    font-size: 2vh;
    
}

.bookTitle {
    font-weight: bold;
}

#thumbnail {
    display: grid;
    grid-area: 2 / 2 / 4 / 3;
}

#bookInformation {
    display: grid;
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    font-size: 1.5vh;
}

#addFormSection {
    display: grid;
    grid-area: 5 / 2 / 6 / 3 ;
    text-align: center;
}

ul, #resultsLabel{
    display: grid;
    grid-row-start: 1;
    list-style-type: none;
}
select {
    font-size: 2vh;
    width: 90%;
    display: inline-flex;
    justify-self: center;
}

#dropButton {
    font-size: 2vh;

}
label {
    font-size: 3vh;
}

/* BOOK SEARCH MENU ABOVE COMPLETED */
/* 
grid-template: 
.5fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr .125fr / .0625fr 1fr 1fr .0625fr; 
*/
#shelfCatalogMenu {
    display: grid;
    grid-area: 3 / 2 / 9 / 4;
    margin: 0;
}

#createShelfForm {
    display: grid;
    grid-area: 1 / 1 / 2 / 2 ;
    justify-content: center;
    text-align: center;
}

#shelfSelectForm {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    width: 50%;
}

#addShelfDropdown, #addDropdown {
  width: 50%;
}

#browseShelf,#dropButton {
    margin: 0;
    margin-left: .5em;

}

#shelfThumbnail {
    display: grid;
    grid-area: 2 / 1 / 4 / 2;
}

#shelfResults {
    display: grid;
    grid-area: 2 / 2 / 7 / 2;
}

#shelfBookInformation {
    display: grid;
    grid-area: 4 / 1 / 5 / 2;
    text-align: center;
    font-size: 1.5vh;
}

#removeBook {
    display: grid;
    grid-area: 5 / 1 / 6 / 2 ;
}

#removeButton:hover {
    background-color: red;
    color: white;
}

@media (max-width: 480px) {
    #navBlock{
        display: flex;
        justify-content: space-between;
    }
    #addShelfDropdown {
        width: 100%;
    }
    .navButton {
        font-size: 2vh;
        font-weight: bold;
    }

  }

