body {
    margin: 0;
    padding: 0;
    height: 100vh;  /*viewport height*/
    display: grid;
    font-family: Arial;
    background-color: #f2eecb;
    flex-wrap: wrap;
    grid-template: .5fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr .125fr / .125fr 1fr 1fr .125fr;
}

#title {
    display: grid;
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}

#searchResults {
    display: grid;
    grid-area: 3 / 2 / 9 / 2;
}

img {
    object-fit: contain;
    justify-self: center;
    align-self: center;    
    height: 90%;
}

#searchForm {
    display: grid;
    grid-area: 3 / 3 / 3 / 3;
    text-align: center;
    font-size: 3vh;
}
input{
    font-size: 2vh;
}


ul{
    align-self: flex-start;
    padding: 0;
}
li {
    margin-bottom: 2vh;
    font-size: 2vh;
    
}

.bookTitle {
    font-weight: bold;
}

#thumbnail {
    display: grid;
    grid-area: 4 / 3 / 6 / 4;
}

#bookInformation {
    display: grid;
    grid-area: 6 / 3 / 7 / 4;
    text-align: center;
    font-size: 1.5vh;
}

#addForm {
    display: grid;
    grid-area: 7 / 3 / 7 / 3 ;
    text-align: center;
}

ul, #resultsLabel{
    display: grid;
    grid-row-start: 1;
}
select {
    font-size: 2vh;
    width: 90%;
    display: inline-flex;
    justify-self: center;
}

#dropButton {
    font-size: 2vh;
    margin-top: .5vh;
    width: 80%;
    height: 80%;
    justify-self: center;
}
label {
    font-size: 3vh;
}

@media (max-width: 480px) {
    #thumbnail {
        display: grid;
        grid-area: 4 / 3 / 5 / 4;
    }
  }

